<%- include('./partials/header') %>
<div class="container">
    <a href="/" class="btn btn-secondary">All Posts</a>
    <% if((post.user).equals(user.id)){ %>
    <a href="/posts/edit/<%= post.id %>" class="btn btn-info">Edit</a>
    <% } %>
    <h1><%= post.title %></h1>
    <div>
        <div class="mb-2">
            <%= post.createdAt.toLocaleDateString() %>
        </div>
    </div>
    
    
    <div>
        <p><%= post.description %></p>
    </div>
    
</div>
<%- include('./partials/footer') %>